<h1>Projeto 1 - Ci√™ncia dos Dados</h1>

Nome: *Caio Emmanuel*

Nome: *Larissa*

<h3>Introdu√ß√£o</h3>

Para realizar este trabalho, a dupla escolhe como tema a ser pesquisado as Olimp√≠adas de 2020 que ocorrer√£o no Jap√£o por este ser um tema atual devido √† prepara√ß√£o em velocidade recordista que o pa√≠s teve para receber o evento e agora mais ainda devido √† doen√ßa viral Corona que amea√ßa a realiza√ß√£o do mesmo.

Classificamos os *tweets* obtidos como 0 ou 1, sendo 0 *tweets* irrelevantes sobre o assunto e 1 o contr√°rio.

Vale ressaltar que usamos o artif√≠cio matem√°tico probabil√≠stico conhecido como *m√©todo de Naive-Bayes* para fazer previs√µes mais precisas sobre uma base de dados de teste.

<h3>Crit√©rios de classifica√ß√£o</h3>

Classificamos como relevante aqueles *tweets* que remetem a assuntos atuais sobre a Olimp√≠ada, como os atletas convidados, poss√≠vel cancelamento, etc.

E classificamos como irrelevante aqueles que n√£o t√™m rela√ß√£o com o evento mas tem com algum hom√¥nimo (olimp√≠adas cient√≠ficas, regionais, olimp√≠adas passadas,etc.), al√©m daqueles que julgamos n√£o acrescentar nada ao assunto.

<h3>Carregando algumas bibliotecas e o dataset:</h3>

In [1]:
%matplotlib inline
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
import os

In [2]:
print('Esperamos trabalhar no diret√≥rio')
print(os.getcwd())

Esperamos trabalhar no diret√≥rio
/home/caio/Documents/cdados/cdados_proj1

Carregando a base de dados com os tweets classificados como relevantes e n√£o relevantes:

In [3]:
dados_treino = pd.read_excel('olympics.xlsx')

In [4]:
dados_treino.head()

                                         Treinamento  Classification
0  rt @saitomri: i wrote about baseball. really. ...               0
1  rt @ndidi_amakaa: @solaadio olu leave your mot...               0
2  @wintersdancer they don‚Äôt want to lose the oly...               1
3  exclusive: indonesia considers 2032 olympics b...               0
4  the tentacles of canceling the tokyo olympics ...               1

___
### Montando um Classificador Naive-Bayes

Considerando apenas as mensagens da planilha Treinamento, ensine  seu classificador.

<h3>Realizando limpeza dos dados</h3>

In [5]:
import re 

# Fun√ß√£o que remove pontua√ß√£o
def cleanup(text):
    punctuation = '[\/!-.:?;]'
    pattern = re.compile(punctuation)
    text_subbed = re.sub(pattern, '', text)
    return text_subbed

for i in range(500):
    # Removendo pontua√ß√£o
    dados_treino = dados_treino.replace(dados_treino['Treinamento'][i], cleanup(dados_treino['Treinamento'][i]))
    
    # Removendo '\n'
    dados_treino['Treinamento'] = dados_treino['Treinamento'].str.replace('[\n]','')
    
    # Removendo 'rt'
    if dados_treino['Treinamento'][i][:2] == 'rt':
        dados_treino = dados_treino.replace(dados_treino['Treinamento'][i], dados_treino['Treinamento'][i][3:])
        
    # Deixando todas as letras min√∫sculas:
    dados_treino = dados_treino.replace(dados_treino['Treinamento'][i], dados_treino['Treinamento'][i].lower())

In [6]:
dados_treino

                                           Treinamento  Classification
0    @saitomri i wrote about baseball really httpst...               0
1    @ndidi_amakaa @solaadio olu leave your mother ...               0
2    @wintersdancer they don‚Äôt want to lose the oly...               1
3    exclusive indonesia considers 2032 olympics bi...               0
4    the tentacles of canceling the tokyo olympics ...               1
..                                                 ...             ...
495  highspeed camera used by nazis to both accurat...               0
496  indonesia considers 2032 olympics bid for new ...               0
497  @gailwalden6 i would like to apply to be in th...               0
498  the year is 2024¬†üîÆwomens world no 1 is üë©______...               0
499  @kagutamuseveni this is a joke and total waste...               1

[500 rows x 2 columns]

<h3>Separando o dataset em *tweets* relavantes e irrelevantes</h3>

In [7]:
# tweets relevantes
tweets_r = dados_treino.loc[(dados_treino.Classification == 1)]
tweets_r

                                           Treinamento  Classification
2    @wintersdancer they don‚Äôt want to lose the oly...               1
4    the tentacles of canceling the tokyo olympics ...               1
5    it is the olympic year and we as a team have p...               1
9    @imrahultrehan from practicing muay thai in he...               1
10   athletes aiming for gold medals or sports busi...               1
..                                                 ...             ...
478  @skift olympics cancellation would spell heavy...               1
480  olympics torch lighting ceremony will be close...               1
485  a lot of people stand to lose if olympics are ...               1
487  tokyo 2020 has been dealt its first significan...               1
499  @kagutamuseveni this is a joke and total waste...               1

[178 rows x 2 columns]

In [8]:
# tweets irrelevantes
tweets_ir = dados_treino.loc[(dados_treino.Classification == 0)]

Logo a probabilidade de um *tweet* ser relevante (P_r) e irrelevante (P_ir) s√£o...

In [9]:
P_r = tweets_r.Treinamento.count()/dados_treino.Treinamento.count()
P_ir = tweets_ir.Treinamento.count()/dados_treino.Treinamento.count()
print('A frequ√™ncia de tweets relevantes √©: {0}' .format(P_r))
print('A frequ√™ncia de tweets irrelevantes √©: {0}' .format(P_ir))

A frequ√™ncia de tweets relevantes √©: 0.356
A frequ√™ncia de tweets irrelevantes √©: 0.644

<h3>Calculando frequ√™ncias relativas dentro de cada grupo</h3>

In [10]:
# criando texto com todos os tweets relevantes
txt_r = ''
for t in tweets_r['Treinamento']:
    t = str(t)
    txt_r += t

# criando s√©rie com as palavras dos tweets relevantes
words_r = pd.Series(txt_r.split())
words_r

0        @wintersdancer
1                  they
2                 don‚Äôt
3                  want
4                    to
             ...
3634            torture
3635                yes
3636                for
3637                him
3638    @kagutamuseveni
Length: 3639, dtype: object

In [11]:
words_r = words_r.value_counts(True)
words_r

the             0.061830
olympics        0.035999
to              0.028030
of              0.019236
for             0.018137
                  ...
sars            0.000275
running         0.000275
shot            0.000275
universities    0.000275
eight           0.000275
Length: 1378, dtype: float64

In [12]:
words_r.sum()

1.0

In [13]:
# Do mesmo jeito para os tweets irrelevantes:
txt_ir = ''
for t in tweets_ir['Treinamento']:
    t = str(t)
    txt_ir += t
    
words_ir = pd.Series(txt_ir.split())
words_ir = words_ir.value_counts(True)
words_ir

the                0.050114
olympics           0.028047
to                 0.024060
and                0.017796
in                 0.017227
                     ...
decontamination    0.000142
@sinicouk          0.000142
lyrics             0.000142
vacations          0.000142
1976               0.000142
Length: 2672, dtype: float64

Assuma agora que as palavras que aparecem nos dois datasets anteriores sejam todas as palavras do Universo no Twitter (tweeverse)

In [14]:
txt = txt_r + txt_ir
tweeverse_words = pd.Series(txt.split())
tweeverse_words_frequencie = tweeverse_words.value_counts(True)

In [15]:
tweeverse_words_frequencie

the         0.054112
olympics    0.030761
to          0.025415
for         0.017256
of          0.017068
              ...
rues        0.000094
18          0.000094
save        0.000094
hsright     0.000094
1976        0.000094
Length: 3514, dtype: float64

___
### Verificando a performance do Classificador

Agora voc√™ deve testar o seu classificador com a base de Testes.

<h3>Realizando testes</h3>

In [16]:
dados_teste = pd.read_excel('teste.xlsx')
dados_teste

                                                Teste  Classification
0               fwit olympics https://t.co/72go6l7pkx               0
1   @jimodonnell2 it's certainly a supportable opi...               1
2   @kapil857 @kapil857 any link to know how point...               0
3   rt @media_sai: what a superb performance by @s...               0
4   rt @theeconomist: japan may have to cancel the...               1
..                                                ...             ...
95  study: tokyo 2020 cancellation could see japan...               1
96  japanese doctors report sharp falls in cases o...               0
97  rt @jimmfelton: ‚Äúvirus is bad, might have to c...               0
98  rt @drjitendrasingh: eight indian boxers inclu...               1
99  the international olympic committee and local ...               1

[100 rows x 2 columns]

Vamos realizar todo o processo de formata√ß√£o e encontra P_r e P_ir dos dados de treino

In [17]:
for i in range(100):
    # Removendo pontua√ß√£o
    dados_teste = dados_teste.replace(dados_teste['Teste'][i], cleanup(dados_teste['Teste'][i]))
    
    # Removendo '\n'
    dados_teste['Teste'] = dados_teste['Teste'].str.replace('[\n]','')
    
    # Removendo 'rt'
    if dados_teste['Teste'][i][:2] == 'rt':
        dados_teste = dados_teste.replace(dados_teste['Teste'][i], dados_teste['Teste'][i][3:])
        
    # Deixando todas as letras min√∫sculas:
    dados_teste = dados_teste.replace(dados_teste['Teste'][i], dados_teste['Teste'][i].lower())

In [18]:
dados_teste

                                                Teste  Classification
0                    fwit olympics httpstco72go6l7pkx               0
1   @jimodonnell2 its certainly a supportable opin...               1
2   @kapil857 @kapil857 any link to know how point...               0
3   @media_sai what a superb performance by @simra...               0
4   @theeconomist japan may have to cancel the oly...               1
..                                                ...             ...
95  study tokyo 2020 cancellation could see japan‚Äô...               1
96  japanese doctors report sharp falls in cases o...               0
97  @jimmfelton ‚Äúvirus is bad might have to cancel...               0
98  @drjitendrasingh eight indian boxers including...               1
99  the international olympic committee and local ...               1

[100 rows x 2 columns]

Para classificarmos os tweets de teste, iremos usar a seguinte desigualdade:<br>
$$P(R|tweet) > P(IR|tweet)$$
Onde estamos verificando se a probabilidade de ser relevante √© maior que a de ser irrelevante.
Mas pela lei de Na√Øve-Bayes temos:<br>
$$P(R|tweet) = \frac{P(tweet|R)P(R)}{P(tweet)}$$
<br>
$$P(IR|tweet) = \frac{P(tweet|IR)P(IR)}{P(tweet)}$$<br>
Como o denominador √© comum a ambos, iremos comparar apenas os numeradores. Para isso, come√ßaremos calculando $P(R)$ e $P(IR)$

In [19]:
# de uma maneira bem simplista:
P_R = len(txt_r.split())/len(txt.split())
P_IR = len(txt_ir.split())/len(txt.split())
P_R

0.3412735627872081

In [20]:
P_IR

0.6587264372127919

In [21]:
# agora calcularemos o P(tweet|R) e P(tweet|IR)
# perceba que esses s√£o apenas o produto das probabilidades das palavras contidas nos tweets
# dado que s√£o relevantes ou irrelevantes
P_TdadoR, P_TdadoIR = P_R, P_IR

# salvaremos os resultados numa lista para comparar depois
lista_relevante, lista_irrelevante = [], []

for tweet in dados_teste.Teste:
    for word in tweet.split():
        if word not in words_r:
            # aqui estamos desconsiderando palavras que n√£o est√£o nesse espa√ßo amostral
            pass
        else:
            P_TdadoR *= words_r[word]
    lista_relevante.append(P_TdadoR)
    P_TdadoR = P_R
len(lista_relevante)

100

In [22]:
for tweet in dados_teste.Teste:
    for word in tweet.split():
        if word not in words_ir:
            # aqui estamos desconsiderando palavras que n√£o est√£o nesse espa√ßo amostral
            pass
        else:
            P_TdadoIR *= words_ir[word]
    lista_irrelevante.append(P_TdadoIR)
    P_TdadoIR = P_IR
len(lista_irrelevante)

100

In [23]:
# agora vamos criar uma nova coluna no dataframe com a classifica√ß√£o segundo o classificador
classificador_NB = []
for i in range(len(lista_irrelevante)):
    if lista_irrelevante[i] > lista_relevante[i]:
        classificador_NB.append(0)
    else:
        classificador_NB.append(1)
dados_teste['Classifica√ß√£o NB'] = classificador_NB
dados_teste

,Teste,Classification,Classifica√ß√£o NB
0,fwit olympics httpstco72go6l7pkx,0,0
1,@jimodonnell2 its certainly a supportable opin...,1,0
2,@kapil857 @kapil857 any link to know how point...,0,1
3,@media_sai what a superb performance by @simra...,0,1
4,@theeconomist japan may have to cancel the oly...,1,1
...,...,...,...
95,study tokyo 2020 cancellation could see japan‚Äô...,1,1
96,japanese doctors report sharp falls in cases o...,0,1
97,@jimmfelton ‚Äúvirus is bad might have to cancel...,0,0
98,@drjitendrasingh eight indian boxers including...,1,0
99,the international olympic committee and local ...,1,1

In [24]:
# calculando a acur√°cia:
acertos = 0
for i in range(100):
    if dados_teste['Classification'][i] == dados_teste['Classifica√ß√£o NB'][i]:
        acertos += 1
print('Tivemos um total de {0}% de acertos' .format(acertos))

Tivemos um total de 37% de acertos

In [25]:
crosstab = pd.crosstab(dados_teste['Classification'],dados_teste['Classifica√ß√£o NB'])
crosstab

Classifica√ß√£o NB   0   1
Classification
0                 11  41
1                 22  26

In [26]:
print('Os resultados foram:\n\t{0}% s√£o verdadeiros negativos\n\t{1}% s√£o falsos negativos\n\t{2}% s√£o falsos positivos\n\t{3}% s√£o verdadeiros positivos' .format(crosstab[0][0], crosstab[1][0], crosstab[0][1], crosstab[1][1]))

Os resultados foram:
	11% s√£o verdadeiros negativos
	41% s√£o falsos negativos
	22% s√£o falsos positivos
	26% s√£o verdadeiros positivos

___
### Concluindo

<p>Podemos perceber que o nosso modelo correspondeu com a classifica√ß√£o inicial em 37% dos casos, entretanto, esse resultado √© influenciado por fatores que n√£o foram contabilizados e que poderia ter influenciado esse n√∫mero negativamente ou positivamente.

Nosso classificador, por exemplo, faz uma an√°lise muito simples e quantitativa e n√£o leva em conta fatores como sarcasmo, quem foram os usu√°rios marcados em uma postagem ou o significado cultural de um emoji e o contexto em que o tweet foi postado. Al√©m do vi√©s daqueles que classificaram inicialmente os tweets.

Podemos ainda refletir sobre as implica√ß√µes de usar um modelo como esse para outros temas. Algu√©m que use esse modelo para prever o sentimento de pessoas quanto a um candidato X ou Y nas elei√ß√µes presidenciais em um pa√≠s poderia manipular os resultados a favor de um deste, uma vez que ele pr√≥prio classificou os tweets usados para treinamento. Ou seja, o modelo de Na√Øve-Bayes n√£o √© recomendado para situa√ß√µes t√£o delicadas.<p>

___
## Aperfei√ßoamento:

<h3> Explica√ß√£o de porque n√£o podemos usar o classificador para gerar mais amostras </h3>
<br>
Como dito na conclus√£o, nosso modelo √© muito simples e s√≥ considera aspectos matem√°ticos para tomar sua decis√£o. Por isso ele n√£o √© recomendado para julgar assuntos que dependam de aspectos t√£o humanos, como sarcasmo. Al√©m de ele estar cheio de vi√©s de quem criou a classifica√ß√£o inicial. Us√°-lo para gerar mais amostras de treinamento faria com que ele tivesse uma acur√°cia de 100% quando testado com estas, o que resultaria num caso de overfitting.

<h3> Proposi√ß√£o de outros cen√°rios para Na√Øve-Bayes </h3>
<br>
Ainda na conclus√£o dissemos que esse algoritmo n√£o √© aconselhado para situa√ß√µes t√£o delicadas como elei√ß√µes, j√° que as conclus√µes podem alterar din√¢micas pol√≠ticas, econ√¥micas e sociais.
Ele tamb√©m n√£o √© recomendado para dar diagnosticos a pacientes internados sobre suas chances de sobreviv√™ncia.
Entretanto, podemos usar esse para procurar e filtrar na internet tweets, posts de facebook, not√≠cias em sites ou qualquer outro texto que tenha rela√ß√£o com assuntos mais concretos e menos sens√≠veis como textos que falem sobre o novo Corona v√≠rus ou textos que falem sobre Ci√™ncia de Dados, j√° que estes costumam conter um jarg√£o e escolhas de palavras bem caracter√≠stico. Al√©m de que classificar um texto sobre o Corona v√≠rus erroneamente como sendo um texto sobre chinelos Havainas n√£o teria repercuss√£o t√£o grande na sociedade quanto dizer que o candidato X tem mais chances que o Y. Por isso estas situa√ß√µes podem fazer uso de Na√Øve-Bayes perfeitamente.

<h3> Sugest√£o de melhorias </h3>
<br>
Algumas poss√≠veis melhorias a serem feitas s√£o:
<h5>1. Conseguir mais tweets de treinamento e dividir a classifica√ß√£o inicial entre mais pessoas (de prefer√™ncia com ciclos sociais e culturais diferentes)</h5>
Essa melhoria √© eficaz n√£o s√≥ porque ter√≠amos uma base de dados para treino maior (e consequentemente mais palavras) mas tamb√©m porque dilui o vi√©s da classifica√ß√£o inicial entre pessoas que pensam diferente e tomam decis√µes diferentes;
<h5>2. Usar artif√≠cios como cross-validation</h5>
Um conceito comum em machine learning que consiste em separar o dataframe de treino em dataframes menores, treinar o modelo sobre alguns destes e testar em outros e fazer isso um n√∫mero grande de vezes antes de testar no dataframe de testes. Segue um link para como podemos fazer isso explicado por professores do Kaggle:

___
## Refer√™ncias

[Naive Bayes and Text Classification](https://arxiv.org/pdf/1410.5329.pdf)  **Mais completo**

[A practical explanation of a Naive Bayes Classifier](https://monkeylearn.com/blog/practical-explanation-naive-bayes-classifier/) **Mais simples**